<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<htmlxmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
       <h2>Datos Carrera</h2>
          
         <a th:href="@{/carrera/nuevo}">Nueva carrera</a>
       <br>
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Duracion</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="carrera:${carreras}">
                    <td>[[${carrera.nombre}]]</td>
                    <td>[[${carrera.duracion}]]</td>
                    <td> <a th:href="@{/carrera/modificar/} + ${carrera.clave_p}">Modificar</td>
                    <td> <a th:href="@{/carrera/eliminar/} + ${carerra.clave_p}">Eliminar</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
