<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      >
    <head>
   
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        
   
        <a th:href="@{/alumno}">Regresar</a>
        <h2>Formulario Alumno</h2>
        
        <form th:action="@{/alumno/guardar}"
              method="post"
              th:object="${alumno}"
              >   
      
             <fieldset>    
            <label for="clave_p">matricula</label>
            <input type="text" name="matricula" th:field="*{matricula}">
            </fieldset> 
                
            <fieldset>    
            <label for="nombre">nombre</label>
            <input type="text" name="nombre" th:field="*{nombre}">
            </fieldset>     
                
             <fieldset>    
            <label for="primer_apellido">primer_apellido</label>
            <input type="text" name="primer_apellido" th:field="*{primer_apellido}">
            </fieldset>   
            
              <fieldset>
            <label for="segundo_apellido">segundo_apellido</label>
            <input type="text" name="segundo_apellido" th:field="*{segundo_apellido}">
            </fieldset> 
            
            <fieldset>
            <label for="semestre">semestre</label>
            <input type="text" name="semestre" th:field="*{semestre}">
            </fieldset>
            
   
                
              <input type="submit" name="guardar" value="guardar">     
                
            
        </form>
        
     
    </body>
</html>