<!DOCTYPE html>

<!--
@author realizado por Mateo
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlsn="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/planilla :: cabeza">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div th:replace="layout/planilla :: Navegador"></div>

        <div class="container-fluid" style="height: 200px ;width:100% ; margin-left:-20px; ">
            <div class="row justify-content-start">
                <div th:replace="layout/planilla :: sidebar"></div>               
                <div class="col-md-4 offset-md-2">   

                    <a th:href="@{/materia}">Regresar</a>
                    <h2>Formulario Materia</h2>
                    <form th:action="@{/materia/guardar}"
                          method="post"
                          th:object="${materia}">
                        <div class="form-row">
                            <div class="form-group col-md-4"> 
                                <fieldset>
                                    <label for="clave_m">Codigo materia</label>
                                    <input type="text" name="clave_m" th:field="*{clave_m}">
                                </fieldset> 
                            </div>   
                            <div class="form-group col-md-4"> 
                                <fieldset>
                                    <label for="nombre">Nombre</label>
                                    <input type="text" name="nombre" th:field="*{nombre}">
                                </fieldset>
                            </div>  
                            <div class="form-group col-md-4">   
                                <fieldset>
                                    <label for="credito">Credito</label>
                                    <input type="number" name="credito" th:field="*{credito}">
                                </fieldset>
                            </div>  

                            <div class="form-group col-md-5">   
                                <fieldset>

                                    <input type="submit" class="btn btn-primary" name="guardar" value="guardar" >
                                </fieldset>
                            </div> 
                    </form>
                </div>
            </div>
        </div>
        <div th:fragment="footer" class="container-fluid">
            <footer th:fragment="footer" class="footer">
                <p>&COPY; [[#{plantilla.derechos}]] |
                    <a th:href="@{/materia/nuevo(lang=es)}">ES</a> |
                    <a th:href="@{/materia/nuevo(lang=en)}">EN</a></p>
            </footer>
        </div>
    </div>
</body>

</html>
