<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      >
    <head>
   
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        
   
        <a th:href="@{/profesor}">Regresar</a>
        <h2>Formulario Profesor</h2>
        
        <form th:action="@{/profesor/guardar}"
              method="post"
              th:object="${profesor}"
              >   
      
             <fieldset>    
            <label for="clave_p">Codigo profesor</label>
            <input type="text" name="clave_p" th:field="*{clave_p}">
            </fieldset> 
                
            <fieldset>    
            <label for="nombre">nombre</label>
            <input type="text" name="nombre" th:field="*{nombre}">
            </fieldset>     
                
             <fieldset>    
            <label for="primer_apellido">primer_apellido</label>
            <input type="text" name="primer_apellido" th:field="*{primer_apellido}">
            </fieldset>   
            
              <fieldset>
            <label for="segundo_apellido">segundo_apellido</label>
            <input type="text" name="segundo_apellido" th:field="*{segundo_apellido}">
            </fieldset> 
            
            <fieldset>
            <label for="direccion">direccion</label>
            <input type="text" name="direccion" th:field="*{direccion}">
            </fieldset>
            
            <fieldset>
            <label for="telefono">telefono</label>
            <input type="number" name="telefono" th:field="*{telefono}">
            </fieldset>
                
             <fieldset>
            <label for="horario">horario</label>
            <input type="text" name="horario" th:field="*{horario}">
            </fieldset>    
                
                
              <input type="submit" name="guardar" value="guardar">     
                
            
        </form>
        
     
    </body>
</html>