
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      >
    <head th:replace="layout/planilla :: cabeza">

        <meta charset="UTF-8">

    </head>

    <body>
        <div th:replace="layout/planilla :: Navegador"></div>



        <div class="container-fluid" style="height: 200px ;width:100% ; margin-left:-20px; ">

            <div class="row justify-content-start"> 
                <div th:replace="layout/planilla :: sidebar"></div>               

                <div class="col-md-4 offset-md-2">

                    <br>
                        <h2>Datos Alumno</h2>

                        <a class="link-primar" th:href="@{/curso/nuevo}">Nuevo curso</a>
                        <br>
                            <br>
                                <table class="table table-striped table-hover" border="1">
                                    <thead>
                                        <tr >
                                            <th>Codigo Curso</th>
                                            <th>Codigo de Estudiante</th>
                                            <th>Codigo de Proferso</th>
                                            <th>Codigo de Carrera</th>
                                            <th>Codigo de Materia</th>
                                            <th>Nota</th>
                                            <th>Total de Asistencia</th>
                                            <th>Estado</th>


                                            <th>Modificar</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="curso:${cursos}">
                                            <td >[[${curso.cod_curso}]]</td>
                                            <td >[[${curso.matricula}]]</td>
                                            <td >[[${curso.clave_p}]]</td>
                                            <td >[[${curso.clave_c}]]</td>
                                            <td >[[${curso.clave_m}]]</td>
                                            <td >[[${curso.total_asistencia}]]</td>
                                            <td >[[${curso.nota}]]</td>
                                            <td >[[${curso.cod_estado}]]</td>

                                            <td > <a th:href="@{/curso/modificar/} + ${curso.cod_curso}">Modificar</a></td>
                                            <td > <a th:href="@{/curso/eliminar/} + ${curso.cod_curso}">Eliminar</a></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                <div class="text-center p-8" th:if="${cursos == null or cursos.empty}">
                                <span >Lista vacía</span>
                            </div>
                                </div>                   
                                </div>
                                <div th:fragment="footer" class="container-fluid">
                                    <footer th:fragment="footer" class="footer">
                                        <p>&COPY; [[#{plantilla.derechos}]] |
                                            <a th:href="@{/curso(lang=es)}">ES</a> |
                                            <a th:href="@{/curso(lang=en)}">EN</a></p>
                                    </footer>
                                </div>
                                </div>   


                                </body>
                                </html>
